@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz,wght@8..144,400;8..144,600&display=swap');

.formWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: black;
  background-color: rgba(0, 0, 0, 0.7)
}

  .form {
    max-height: 450px;
    max-width: 400px;
    margin: 0 auto;
    position: fixed;
    top: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: 'Lobster', cursive;
    background-color: #8994be;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
  }

    .loginTitle {
      font-size: 26px;
      font-weight: normal;
      text-align: center;
      padding: 20px 20px 15px 20px;
    }

    .fieldset {
      border: none;
      margin: 20px 20px 0px 20px;
      padding: 0px;
    }

      .label {
        display: block;
        font-size: 22px;
      }

      .labelPicture {
        display: inline;
        font-size: 22px;
      }

      .input {
        display: block;
        font-size: 18px;
        margin-top: 5px;
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;
      }

      .inputFile {
        margin-left: 10px;
        max-width: 200px;
      }

    .btnWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: absolute;
      bottom: 40px;
      width: 396px;
    }

      .buttonClickRegistration {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 14px;
        font-weight: 500;
        border: none;
        background-color: transparent;
        margin-top: 10px;
        margin-left: 22px;
        padding: 0px;
      }

      .buttonLogin, .buttonRegister {
        display: block;
        font-size: 18px;
        font-family: inherit;
        width: 120px;
        border: 2px solid black;
        border-radius: 10px;
      }

      .buttonClickRegistration:hover, .buttonLogin:hover, .buttonRegister:hover {
        cursor: pointer;
      }

      .buttonLogin:hover, .buttonRegister:hover {
        color: white;
        background-color: #252939;
        border-color: #252939;
      }