@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

.app {
  max-width: 1200px;
  margin: 0 auto;
}

  .formWrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:#252939
  }

    .form {
      max-height: 400px;
      max-width: 400px;
      margin: 0 auto;
      position: fixed;
      top: 150px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      font-family: 'Lobster', cursive;
      background-color: #6f7cab;
      border: 2px solid black;
      border-radius: 10px;
      box-sizing: border-box;
    }

      .loginTitle {
        font-size: 26px;
        font-weight: normal;
        text-align: center;
        padding: 20px 20px 15px 20px;
      }

      .fieldset {
        border: none;
        margin: 20px 20px 0px 20px;
        padding: 0px;
      }

        .label {
          display: block;
          font-size: 22px;
        }

        .input {
          display: block;
          font-size: 18px;
          margin-top: 5px;
          width: 100%;
          border: 2px solid black;
          border-radius: 5px;
        }
      
      .buttonWrapper {
        width: 396px;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 40px;
      }

        .button {
          display: block;
          font-size: 18px;
          font-family: inherit;
          width: 120px;
          border: 2px solid black;
          border-radius: 10px;
        }

        .button:hover {
          cursor: pointer;
          color: white;
          background-color: #252939;
          border-color: #252939;
        }